#####################################################################
# Manejo y análisis de datos
#####################################################################
pandas              # Manipulación y análisis de datos
numpy               # Cálculos numéricos y matrices

#####################################################################
# Conexión a bases de datos
#####################################################################
sqlalchemy          # ORM y conexión a bases de datos SQL
pymysql             # Driver para conexión con MySQL
pymongo             # Driver para conexión con MongoDB

#####################################################################
# Azure Data Lake (vía ADLS Gen2)
#####################################################################
azure-storage-blob                  # Operaciones con blobs en Azure
azure-storage-file-datalake         # Operaciones con Data Lake Storage Gen2

#####################################################################
# AWS S3
#####################################################################
boto3               # SDK para interacción con servicios AWS, incluyendo S3

#####################################################################
# Archivos y lectura de configuraciones
#####################################################################
pyyaml              # Lectura y escritura de archivos YAML

#####################################################################
# Jupyter y desarrollo interactivo
#####################################################################
ipykernel           # Kernel de Python para Jupyter
notebook            # Entorno de notebooks
jupyterlab          # Interfaz moderna de Jupyter

#####################################################################
# Variables de entorno y compatibilidad
#####################################################################
python-dotenv       # Carga variables desde archivos .env
pyarrow             # Lectura/escritura de archivos Parquet y Arrow


